/* fondo */
body{
   background-color: rgb(194, 191, 248);
}

/* tipografías */
#tprincipal{
    font-family: Arial, Helvetica, sans-serif; 
    color:rgb(2, 4, 29);
}

t1{
    font-size: 50px;
    font-weight: bold;
}

t2{
    font-size:35px;
    font-weight: normal;
}
tg{
    font: size 18px;
    font-weight: lighter;
}

tnombre{
    font: size 18px;
    font-weight: bold;
}