/* fondo */
body{
  background-color: rgb(240, 33, 33);
}

/* tipografías */
#tprincipal{
   font-family: Arial, Helvetica, sans-serif; 
   text-align: center;
   color:rgb(46, 5, 5);
}

t1{
   font-size: 50px;
   font-weight: bold;
}

t2{
   font-size:35px;
   font-weight: normal;
}
tg{
   font: size 18px;
   font-weight: lighter;
}

tnombre{
   font: size 18px;
   font-weight: bold;
}